<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469896177499-p7b455onpvtqttr82nrm6i70mu8ab45o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469896177499-p7b455onpvtqttr82nrm6i70mu8ab45o</string>
	<key>API_KEY</key>
	<string>AIzaSyC48HHbuvvaHIpjOEbBjcFEC5Kdv5BWai0</string>
	<key>GCM_SENDER_ID</key>
	<string>469896177499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.tunckankilic.tuncmoments</string>
	<key>PROJECT_ID</key>
	<string>tuncmoments-staging-df419</string>
	<key>STORAGE_BUCKET</key>
	<string>tuncmoments-staging-df419.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469896177499:ios:8a7a49ff3e5a14d0df5c7e</string>
</dict>
</plist>