<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990769159397-bm5amg6cma44bdes0cf825faq93u9ol6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990769159397-bm5amg6cma44bdes0cf825faq93u9ol6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0lWgZgeWeyyJyoYBsfz4q2cVqLxp2EMo</string>
	<key>GCM_SENDER_ID</key>
	<string>990769159397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.tunckankilic.tuncmoments</string>
	<key>PROJECT_ID</key>
	<string>tuncmoments-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tuncmoments-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990769159397:ios:52ffddfa92a2ebb344480c</string>
</dict>
</plist>